.header {
    width: 100%;
    height: 150px;
}
.container {
    width: 100%;
    margin: 0 auto;
    height: 500px
}
.mitten {
    float: left;
    margin: 50px;
}
.lov {
    width: 100%;
}
.bildsize {
    height: 200px;
}
.accordion {
    width: 60%;
    margin: auto;
    margin-top: 50px;
}
h1 {
    text-align: center;
    color: yellow;
    margin-top: 10px;
}
.table {
    width: 80%;
    margin: auto;
    margin-top: 50px;
}
.footer {
    height: 50px;
    width: 100%;
    background-color: darkgoldenrod;
    color: white;
    text-align: center;
    margin-top: 50px;
}
.h2 {
    padding-top: 10px;
}